@import '../../styles/utils';

.Goods {
  padding: 50px 0;

  &__content {
    padding: 0 80px;
    color: $color-black;

    @include onTablet {
      padding: 0 20px;
    }
  }

  &__more-btn {
    @extend %button-primary;

    padding: 10px 30px;

    &--desktop {
      @include onMobile {
        display: none
      }
    }

    &--mobile {
      display: none;

      @include onMobile {
        display: block;
        margin: 0 auto;
        margin-top: 56px;
      }
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    & h2 {
      @extend %heading-h2;

      @include onMobile {
        margin: 0 auto;
      }
    }
  }

  &__wrapper {
    @include grid;

    @include onMobile {
      row-gap: 50px;
    }
  }
}