@import '../../styles/utils';

.Goods {
  &__content {
    padding: 0 80px;
    color: #000000;

    @include onTablet {
      padding: 0 20px;
    }

    @include onMobile {
      padding: 0;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    & h2 {
      font-size: 74px;

      @include onMobile {
        font-size: 44px;
      }
    }

    & button {
      @extend %button-primary;
    }
  }

  &__wrapper {
    @include grid;
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow: hidden;
    grid-column: span 3;

    @include onTablet {
      grid-column: span 2;
    }

    @include onMobile {
      grid-column: span 1;
    }
  }

  &__img-container {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    height: 300px;
    border-radius: 70px;
    background-color: #f1f1f1;

    @include onMobile {
      height: 200px;
      border-radius: 40px;
    }
  }

  &__fav-icon {
    position: absolute;
    top: 8%;
    right: 10%;

    background-color: white;
    padding: 20px;
    border-radius: 50%;

    background-image: url('../../../public/assets/icons/heart.svg');
    background-repeat: no-repeat;
    background-position: center;

    transition: $transition;

    &:hover {
      cursor: pointer;
      background-image: url('../../../public/assets/icons/heart-black.svg');
    }
  }

  &__good-img {
    display: block;
    max-width: 80%;
    height: auto;
  }



  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
  }

  &__color {
    color: #565555;
  }

  &__cart-btn {
    margin-top: 10px;

    @extend %button-primary;
  }
}