@import '../../styles/utils';

.Menu {
  display: none;

  @include onTablet {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 80svh;
  }

  &__nav {
    transform: translateY(-30%);
  }
}