@import '../../styles/utils';

.Menu {
  display: none;

  @include onTablet {
    display: block;
  }

  position: fixed;
  background-color: #ffffff;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100; //change to 1
  opacity: 1;
  transition: $transition;

  &__content {
    margin: 0 60px;
    box-sizing: border-box;
    height: 100%;
    padding: 20px;

    @include onMobile {
      margin: 0;
    }
  }

  &__top {
    position: relative;
  }

  &__close {
    width: 20px;

    transition: $transition;

    &:hover {
      transform: scale(0.9);
    }

    & img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: auto;
  }

  &__nav {
    margin-top: 60px;
  }
}

.hidden {
  opacity: 0;
}