@import '../../styles/utils';

.Stores {
  margin-top: 64px;

  &__content {
    @include grid;

    @include onMobile {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__img {
    grid-column: 1 / 7;

    @include onTablet {
      grid-column: 1 / 4;
    }

    & img {
      border-radius: $border-radius-elements;
      max-height: 510px;
      width: 100%;
      object-fit: cover;

      @include onMobile {
        max-height: 366px;
      }
    }
  }

  &__text {
    padding: 20px;
    grid-column: 7 / -1;

    @include onTablet {
      grid-column: 4 / -1;
    }

    @include onMobile {
      text-align: center;
    }

    & h3 {
      @extend %heading-h2;
      margin-bottom: 24px;
    }

    & p {
      @extend %body-text-l;
      margin-bottom: 16px;
    }

    & a {
      @extend %button-primary;
      padding: 10px 40px;
      width: max-content;
      display: block;
      box-sizing: border-box;

      @include onMobile {
        margin: 0 auto;
      }
    }
  }
}