@import './_mixins.scss';

%button-primary {
  border: 1px solid $color-black;
  border-radius: $border-radius-elements;
  
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  transition: $transition;

  &:hover {
    cursor: pointer;
    background-color: $color-black;
    color: $color-white;
  }

  &:disabled {
    background-color: $color-gray-light;
    border: 1px solid $color-gray-light;
    color: $color-gray-dark;
  }

}

%background-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


%heading-h1 {
  font-size: 96px;
  line-height: 116px;
  font-weight: 900;

  @include onTablet {
    font-size: 74px;
    line-height: 96px;
  }

  @include onMobile {
    font-size: 48px;
    line-height: 60px;
  }
}

%heading-h2 {
  font-size: 74px;
  line-height: 74px;

  @include onTablet {
    font-size: 54px;
    line-height: 54px;
  }

  @include onMobile {
    font-size: 48px;
    line-height: 48px;
  }
}

%body-text-m {
  font-size: 16px;
  line-height: 16px;
}

%body-text-l {
  font-size: 20px;
  line-height:28px;
  font-weight: 400;
}

%body-text-l-extra {
  font-size: 22px;
  line-height:24px;
  font-weight: 800;
}