@import './_mixins.scss';

%button-primary {
  border: 1px solid black;
  border-radius: 23px;
  
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  transition: $transition;

  &:hover {
    cursor: pointer;
    background-color: #131313;
    color: #ffffff;
  }

  &:disabled {
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    color: #565555;
  }

  @include onMobile {
    font-size: 16px;
    line-height: 16px;
  }
}

%background-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

// -------------------------

%heading-h1 {
  font-size: 96px;
  line-height: 96px;
  font-weight: 900;

  @include onTablet {
    font-size: 74px;
    line-height: 74px;
  }
}

%heading-h2 {
  font-size: 74px;
  line-height: 74px;
}

%body-text-m {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #000;
}