@mixin onTablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin onMobile {
  @media (max-width: 744px) {
    @content;
  }
}

@mixin square ($size) {
  width: $size;
  height: $size ;
}


@mixin grid {
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(12, 1fr);


  @include onTablet {
    grid-template-columns: repeat(6, 1fr);
  }
}