$transition: all 250ms ease-in-out;
$transition-duration: 250ms;
$icons-hover: scale(1.1);

$border-radius-btn: 23px;

$color-secondary: #399837;
$color-secondary-blue: #0177d2;
$color-background-item: #f1f1f1;
$border-radius-elements: 70px;

