$transition: all 250ms ease-in-out;
$transition-duration: 250ms;
$icons-hover: scale(1.1);

$border-radius-btn: 23px;
$border-radius-elements: 70px;

$color-black: #00000e;
$color-white: #fffffe;
$color-gray-dark: #565555;
$color-gray-beige: #f0eae7;
$color-gray-light: #f1f1f1;
$color-secondary: #399837;
$color-secondary-blue: #0177d2;

