

$transition: all 250ms ease-in-out;
$transition-duration: 250ms;
$icons-hover: scale(1.1);

// $header-height: 100px;
// $menu-line-transform: translateX(-50%);

$border-radius-btn: 23px;

$color-background-item: #f1f1f1;
$border-radius-elements: 70px;