@import '../../styles/utils';

.Logo {
  display: block;
  transition: $transition;
  cursor: pointer;
  display: block;

  &:hover {
    transform: $icons-hover;
  }

  &__image {
    display: block;
    width: 100px;
    height: 18px;
  }
}