@import '../../styles/utils';

.Customers {
  padding-top: 50px;

  &__content {
    height: 480px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: space-between;

    @include onTablet {
      height: 360px;
    }

    @include onMobile {
      flex-direction: column;
      height: auto;
    }
  }

  &__text {
    width: 50%;

    display: flex;
    flex-direction: column;

    @include onMobile {
      max-width: 302px;
      margin: 0 auto;
      width: 100%;
      align-items: center;
    }

    & h3,
    & p {
      margin-bottom: 24px;
    }

    & h3 {
      @extend %heading-h2;

      @include onMobile {
        margin-bottom: 20px;
        text-align: center;
      }
    }

    & p {
     @extend %body-text-l;
    }

    & button {
      @extend %button-primary;
      padding: 6px 45px;
      width: max-content;

      @include onMobile {
        margin: 0 auto;
        margin-bottom: 64px;
      }
    }
  }

  &__people {
    display: flex;
    gap: 20px;

    @include onMobile {
      margin: 0 auto;
    }
  }

  &__img-container {
    max-width: 180px;
    max-height: 450px;

    & img {
      border-radius: $border-radius-elements;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}