@import '../../styles/utils';


.Cart {

  &__content {
    box-sizing: border-box;
    height: 100%;
    margin: 0 60px;


    @include onMobile {
      margin: 0;
      padding: 20px 0;
    }
  }

  &__close {
    width: 20px;

    transition: $transition;

    &:hover {
      cursor: pointer;
      transform: scale(0.9);
    }

    & img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__title {
   @extend %heading-h2;
    font-weight: 900;

    @include onMobile {
      margin-top: 20px;
    }

    &--error {
      width: max-content;
      margin: 0 auto;
      color: $color-gray-dark;
      font-weight: 500;
      font-size: 34px;
    }

    & span {
      color: $color-gray-dark;
    }
  }

  &__products-container {
    margin-top: 40px;
  }

  &__products {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @include onMobile {
      // margin: 0 auto;
      // width: max-content;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__product {
    display: flex;
    justify-content: center;
    gap: 38px;

    &-img-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;

      overflow: hidden;
      width: 242px;
      height: 300px;
      border-radius: 70px;
      background-color: $color-gray-light;

      @include onTablet {
        width: 165px;
        height: 214px;
        border-radius: 40px;
      }

      button.fav-icon {
        position: absolute;
        top: 8%;
        right: 10%;
    
        background-color: $color-white;
        padding: 20px;
        border-radius: 50%;
    
        @extend %background-img;
        background-image: url('../../../public/assets/icons/heart.svg');
        background-size: auto;
    
        transition: $transition;
    
        &:hover {
          cursor: pointer;
          background-image: url('../../../public/assets/icons/heart-black.svg');
        }
    
        @include onTablet {
          &:hover,
          &:active {
            background-image: url('../../../public/assets/icons/heart.svg');
          }
        }
    
        &--in-favs {
          background-image: url('../../../public/assets/icons/heart-black.svg');
    
          @include onTablet {
            &:hover,
            &:active {
              background-image: url('../../../public/assets/icons/heart-black.svg');
            }
          }
        }
      }
    }

    &-img {
      display: block;
      max-width: 80%;
      height: auto;
    }


    &-section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-info {
      margin-top: 50%;
      width: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;

      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      text-align: center;

      @include onTablet {
        width: 80px;
      }
    }

    &-actions {
      display: flex;
      justify-content: center;
      gap: 8px;
      margin-bottom: 36px;

      & li {
        border-radius: 50%;
        background-color: $color-gray-light;
        padding: 5px;

       transition: $transition;

        &:hover {
          background-color: $color-black;

          & svg.pen path {
            fill: $color-white !important;
          }
          
          & svg.copy {
            & rect:first-child {
              fill: $color-black !important;
            }

            & rect:not(:first-child) {
              stroke: $color-white !important;
            }
          }

          
          & svg.cross path {
            stroke: $color-white !important;
          }
        }
      }
    }

    &-btn {
      display: block;
      cursor: pointer;
    }

    &-color {
      color: $color-gray-dark;
      margin-bottom: 16px;
    }
  }

}

.hidden {
  opacity: 0;
}