@import '../../styles/utils';

.Header {
  padding: 22px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__content {
    margin: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    @include onMobile {
      margin: 0;
    }

    &--menu {
      flex-direction: row-reverse;
    }
  }

  &__logo {
    @include onTablet {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

    }
  }


  &__hamburger {
    display: none;

    @include onTablet {
      display: block;
      width: 54px;
    }

    & a {
      display: block;
      @include square(24px);
    }

    & img {
      @include square(24px);
      transition: $transition;

      &:hover {
        transform: scale(0.9);
      }
    }
  }

  &__nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    @include onTablet {
      display: none;
    }
  }

  &__link {
    @extend %body-text-m;

    margin-right: 10px;
    border-bottom: 1px solid transparent;
    position: relative;

    transition: $transition;

    &::before {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 0;
      height: 1px;
      background-color: $color-gray-dark;
      transition: $transition;
    }

    &:hover::before {
      width: 100%;
    }

    &:hover {
      color: $color-black;
    }

    @include onTablet {
      display: none;
    }
  }

  &__actions {
    margin-right: 4px;
    display: flex;
    justify-content: flex-end;
  }

  &__actionList {
    display: flex;
    align-items: center;
  }

  &__actionItem {
    &:first-child img {
      @include square(18px);
    }

    &:not(:last-child) {
      padding-right: 4px;

      @include onTablet {
        padding-right: 10px;
      }
    }

    & a {
      position: relative;
      display: block;
      transition: $transition;
      cursor: pointer;

      &:hover {
        transform: $icons-hover;
      }
    }


    & img {
      @include square(24px);
    }

    & div {
      @include square(14px);

      font-size: 9px;
      line-height: 14px;
      text-align: center;
      font-weight: 600;
      background-color: $color-secondary;
      color: $color-white;
      position: absolute;
      bottom: 50%;
      left: 50%;
      border-radius: 50%;

      animation: zoom-in-out 0.5s;
    }

    &--none {
      display: none;
    }
  }
}


@keyframes zoom-in-out {
  0% {
    transform: none;
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: none;
  }
}