@import '../../styles/utils';

.Header {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__content {
    margin: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &>div:not(:nth-child(3)) {
      width: 20%;
    }

    @include onMobile {
      margin: 0;
    }
  }

  &__logo {
    @include onTablet {
      flex-grow: 1;

      &>button {
        display: block;
        margin: 0 auto;
      }
    }
  }


  &__hamburger {
    display: none;

    @include onTablet {
      display: block;
    }

    & img {
      width: 24px;
      height: 16px;

      transition: $transition;

      &:hover {
        transform: scale(0.9);
      }
    }
  }

  &__nav {
    @include onTablet {
      display: none;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;

    @include onMobile {
      margin-right: 4px;
    }
  }

  &__actionList {
    display: flex;
    align-items: center;
  }

  &__actionItem {
    &:first-child img {
      @include square(18px);
    }

    &:not(:last-child) {
      padding-right: 4px;

      @include onMobile {
        padding-right: 10px;
      }
    }

    & button {
      position: relative;
      display: block;
      transition: $transition;
      cursor: pointer;

      &:hover {
        transform: $icons-hover;
      }
    }

    & img {
      @include square(20px);
    }

    & div {
      height: 14px;
      width: 14px;
      font-size: 9px;
      line-height: 14px;
      text-align: center;
      font-weight: 600;
      background-color: $color-secondary;
      color: #ffffff;
      position: absolute;
      bottom: 50%;
      left: 50%;
      border-radius: 50%;

      animation: zoom-in-out 0.5s;
    }
  }
}


@keyframes zoom-in-out {
  0% {
    transform: none;
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: none;
  }
}