@import '../../styles/utils';

.Header {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__content {
    margin: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &>div:not(:nth-child(3)) {
      width: 20%;
    }

    @include onMobile {
      margin: 0;
    }
  }

  &__logo {
    @include onTablet {
      flex-grow: 1;

      &>button {
        display: block;
        margin: 0 auto;
      }
    }
  }


  &__hamburger {
    display: none;

    @include onTablet {
      display: block;
    }

    & img {
      width: 24px;
      height: 16px;

      transition: $transition;

      &:hover {
        transform: scale(0.9);
      }
    }
  }

  &__nav {
    @include onTablet {
      display: none;
    }
  }
  
  &__actions {
    display: flex;
    justify-content: flex-end;
  }

  &__actionList {
    display: flex;
    align-items: center;
  }

  &__actionItem {
    &:not(:last-child) {
      padding-right: 4px;
    }

    & button {
      display: block;
      transition: $transition;
      cursor: pointer;

      &:hover {
        transform: $icons-hover;
      }
    }

    & img {
      @include square(18px);
    }
  }
}