@import '../../styles/utils';

.Intro {
  // height: -moz-available;  // Mozilla-based browsers
  // height: -webkit-fill-available; //  WebKit-based browsers
  // height: stretch;
  height: 86dvh;
  // padding-bottom: env(safe-area-inset-bottom); /* Accounts for the home bar */
  
  &__content {
    width: 100%;
    height: 100%;

    // height: 90vh;
    border-radius: $border-radius-elements;
    background-image: url('https://i.postimg.cc/yNYtzJsC/header-bg.jpg');
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column-reverse;
    box-sizing: border-box;
    padding: 30px;
  }

  &__textBox {
    max-width: 800px;
    position: relative;

    @include onMobile {
      margin: 0 auto;
      max-width: 400px;
      position: static;

      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    font-size: 96px;
    line-height: 116px;
    font-weight: 900;
    display: inline;
    color: #ffffff;

    @include onTablet {
      font-size: 74px;
      line-height: 96px;
    }

    @include onMobile {
      font-size: 48px;
      line-height: 60px;
      text-align: center;
      margin-bottom: 8px;
    }
  }

  &__button {
    background-color: $color-secondary-blue;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;

    padding: 22px 32px;
    margin-left: 20px;
    border-radius: $border-radius-elements;
    transition: $transition;

    position: absolute;
    bottom: 10%;

    @include onMobile {
      position: static;
      max-width: 182px;
      margin: 0 auto;
    }

    &:hover {
      transform: scale(1.05);
    }

  }
}