@import '../../styles/utils';

.Intro {
  height: calc(100svh - 80px);

  &__content {
    width: 100%;
    height: 100%;
    border-radius: $border-radius-elements;
    display: flex;
    flex-direction: column-reverse;
    box-sizing: border-box;
    padding: 30px;

    @extend %background-img;
    background-image: url('https://i.postimg.cc/yNYtzJsC/header-bg.jpg');
    background-size: cover;
  }

  &__textBox {
    max-width: 800px;
    position: relative;

    @include onMobile {
      margin: 0 auto;
      max-width: 400px;
      position: static;

      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    @extend %heading-h1;
    display: inline;
    color: $color-white;

    @include onMobile {
      text-align: center;
      margin-bottom: 8px;
    }
  }

  &__button {
    background-color: $color-secondary-blue;
    color: $color-white;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;

    padding: 22px 32px;
    margin-left: 20px;
    border-radius: $border-radius-elements;
    transition: $transition;

    position: absolute;
    bottom: 10%;

    @include onMobile {
      position: static;
      max-width: 182px;
      margin: 0 auto;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}