@import url('./styles/_utils.scss');

body {
  // padding-top: env(safe-area-inset-top); /* Accounts for the notch or status bar */

  margin: 0;
  background-color: #ffffff;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-weight: 500;

  overflow-x: hidden !important;
  position: relative;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

h1,
h2,
h3 {
  font-weight: 900;
}

main>div {
  margin-bottom: 60px;
}

section {
  overflow: hidden;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
}

button {
  color: #000000;
}
